name: Build Lambda Function and Layer Zips

on:
  workflow_call:

jobs:
  zip-lambda-build:
    name: "Build Lambda Zip"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: '0'
      - name: Lambda Package - Zip Build
        run: |
          make lambda-zip-build
        id: lambda-zip-build
      - name: generate zip hash
        working-directory: build
        run: |
          sha256sum myFunction.zip > myFunction.zip.sha256sum
          echo "Lambda Function Zip SHA256 Hash: $(cat myFunction.zip.sha256sum)"  >> $GITHUB_STEP_SUMMARY
      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: myFunction
          path: build/myFunction.zip
      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: myFunction_sha256sum
          path: build/myFunction.zip.sha256sum
      - name: Cleanup
        run: |
          make lambda-zip-clear
  build-lambda-layer-zip:
    name: "Build Lambda Layer Zip"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: '0'
      - name: Layer Package - Zip Build
        run: |
          make layer-zip-build
        id: layer-zip-build
      - name: generate zip hash
        working-directory: build
        run: |
          sha256sum lambda_layer.zip > lambda_layer.zip.sha256sum
          echo "Lambda Layer Zip SHA256 Hash: $(cat lambda_layer.zip.sha256sum)"  >> $GITHUB_STEP_SUMMARY
      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: lambda_layer
          path: build/lambda_layer.zip
      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: lambda_layer_sha256sum
          path: build/lambda_layer.zip.sha256sum
      - name: Test layer
        run: |
          make layer-zip-test
      - name: Cleanup
        run: |
          make layer-zip-clear
