name: Unit Test

on:
  workflow_call:
    inputs:
      files:
        description: 'The files to run unit tests on'
        required: true
        type: string
      fail_ci_if_error:
        description: 'Fail the CI if an error occurs'
        required: true
        type: string
      verbose:
        description: 'Verbose output'
        required: true
        type: string
    secrets:
      codecov_token:
        description: 'Codecov Token'
        required: true

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Cache Go Dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: .gocache
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run Unit Tests
        run: make unit-test

      - name: Upload Code Coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.codecov_token }}
        with:
          files: ${{ inputs.files }}
          fail_ci_if_error: ${{ inputs.fail_ci_if_error }}
          verbose: ${{ inputs.verbose }}
